{{define "HomeHome"}}
  {{template "HomeHeader"}}
  {{template "HomeMenu"}}

    <div class="text-center">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS91OrdejCYP1vksrdJFuUpsu-CxYa0FPJkPg&usqp=CAU" class="rounded w-10" alt="...">
      <img src="https://www.moneyunder30.com/wp-content/uploads/2018/04/Personal-Finance-books-648x364-c-default.jpg" class="rounded w-10" alt="...">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSImj4uwxQm_o2Rs2Ho_7FyfxowVbKDVBR6-w&usqp=CAU" class="rounded w-10" alt="...">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSBL03uSoCARadvQJyDXwHASl9FjkJ0HNS4Rw&usqp=CAU" class="rounded w-10" alt="...">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSYjXejewQf02boLWKbMm9hnHdoHtYjCOt9vA&usqp=CAU" class="rounded w-10" alt="...">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSOL9EowK-DksVajLibg_RzUG7ClTgHH76cOg&usqp=CAU" class="rounded w-10" alt="...">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSt1HpcBH8icYYchwIjXFWOlPgQ8kesH3Zi7Q&usqp=CAU" class="rounded w-10" alt="...">
    </div>

  {{template "HomeFooter"}}

{{end}}