{{ define "Menu" }}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">keikibook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="/admin">HOME <span class="sr-only">(current)</span></a>
      <a class="nav-link active" href="/admin/employe">EMPLOYEE<span class="sr-only">(current)</span></a>
      <a class="nav-link active" href="/admin/book">BOOK<span class="sr-only">(current)</span></a>
      <a class="nav-link active" href="/admin/user">USER<span class="sr-only">(current)</span></a>
      <a class="nav-link active" href="/admin/category">CATEGORY<span class="sr-only">(current)</span></a>
    </div>
  </div>

  <form class="form-inline">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
      </div>
      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>
  </form>

  <form class="form-inline" method="POST" action="admin/logout">
    <div class="input-group">
      <div class="input-group-prepend">
        <button type="submit" class="btn btn-primary">logout</button>
      </div>
    </div>
  </form>

</nav>
{{ end }}